.App {
  font-family: sans-serif;
  text-align: center;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
input {
  display: block;
  margin: 10px;
}
body {
  background-color: #14e8ff;
}

.css-input {
  margin-left: 550px;
  border-width: 2px;
  border-color: #cccccc;
  border-style: solid;
  padding: 11px;
  font-size: 22px;
  border-radius: 15px;
  background-color: #ffc2ff;
}

form {
  position: relative;
  left: 50px;
}

#demotext {
  color: #ffffff;
  background: #b8b8b8;
  text-shadow: 4px 3px 0 #7a7a7a;
  color: #ffffff;
  background: #b8b8b8;
  padding: 5px;
}

.css-input:focus {
  outline: none;
}

#demo {
  padding: 3em;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  background-color: #14e8ff;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.myButton {
	background-color:#ffc2ff;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}
